<% @images.each do |image| %>
  <ul>
    <li>title: <%= image.title %></li>
    <li>owner: <%= image.owner %></li>
    <li>text: <%= image.text %></li>
    <li>description: <%= image.description %></li>
    <li>characteristic: <%= image.characteristic %></li>
  </ul>
<% end %>
