<section id="registration_form">
  <%= form_with model: @user, local: true  do |f| %>
    <p>Username: <%= f.text_field :username %></p>
    <p>Email: <%= f.text_field :email %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
    <%= f.submit :Register %>
  <% end %>
</section>
