<p id="notice"><%= notice %></p>
<%= image_tag @image.image.variant(resize_to_limit: [300, 300]) %>
<h1><%= @image.title %></h1>
<p>owner:<%= @image.owner %></p>
<p>description:<%= @image.description %></p>

<% if current_user && current_user.username == @image.owner %>
  <%= link_to 'Edit', edit_image_path(@image) %> |
<% end %>
<%= link_to 'Back', images_path %>
